.page_404_wrapper {
    min-height: 600px;
    text-align: center;
    margin-top: 10%;
}

.name_404 {
    font-size: 60px;
    font-weight: 600;
}

.text_404 {
    font-size: 30px;
    color: red;
}

.button_wrap_404 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}