@import "./globalTamplate.scss";

.calc_wrap{
    font-family: 'Montserrat', sans-serif ;
    max-width: 1140px;
    border: 1px solid #ccc;
    width: 100%;
    min-height: 600px;
}

title{
    display: flex;
    background: #222935;
    min-height: 45px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    h2{
        color: $color_text_white;
    }
    button{
        background: $color_prime;
        &:hover{
            background: $color_prime; 
        }
    }

}

.wrap_row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.colum{
    flex: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 10px 10px;
    min-height: 165px;
    .soldering{
        display: flex;
        width: 100%;
        margin: 20px 0;
        align-items: center;
        justify-content: space-between;
        .soldering_item{
            flex: 45% 0;

        }
    }
}

.upload{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    input{
        width: 224px;
        height: 21px;
        border: none;
    }
}

.calc-item{
    flex: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 0 10px;

}



h3{
    width: 100%;
    text-align: left;
    font-size: 13px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700; 
}

button{
    @extend %button_prime;
    &:hover{
        @extend %button_prime_hover;
    }
}

.btn_second{
    @extend %button_second;
    &:hover{
        @extend %button_second_hover;
    }
}

input{
    @extend %input;
    width: 100%;
    height: 34px;
    padding: 0 5px;

    &:focus{
        @extend %input_focus;
    }
}

.eyelets_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    div {
      margin-right: 0px;
  
      &:first-child {
        margin-right: 10%;
      }
    }
  }


textarea{
    width: 100%;
    @extend %input;
    
    &:focus{
        @extend %input_focus
    }
}

.description{
    width: 100%;
    min-height: 122px;
    @extend %input;
}

.custom-select{
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    position: relative;
    @extend %input;
    border: 1px solid #ccc;
    text-align: left;
    padding: 0 5px;
    cursor: pointer;
    .selected-option{
        width: 100%;
    }
    .options{
        position: absolute;
        background: $color_text_white;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        left: 0;
        top: 0;
        z-index: 1000;
        max-height: 350px;
        overflow-y: auto;
        
        .option{
            padding-left: 15px;
            &:hover{
                background: $color_prime;
                color: $color_text_white;
            }
        }

        p{
            &:hover{
                background: $color_prime;
                color: $color_text_white;
            }  
        }
    }
}
.option_color {
    display: flex;
    align-items: center;
}


.input_size{
    width: 100%;
    .input{
        width: 100%;

    }
}

.adding{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.input{
    width: 100%;
}

.total_sum{
    display: flex;
    max-width: 250px;
    h3{
        display: flex;
        align-items: flex-end;
        p{
            display: flex;
            min-width: 20px;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: red;
        }

    }

}

.footer_calc{
    button{
        background-color: $color_second;
        width: 200px;
        &:hover{
            background: $color_prime;
        }
    }
}

.color_img{
    width: 36px;
    height: 12px;
}

.select_user{
    max-width: 400px;
}

.select_address {
}

.select_address_item_wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px 0px 5px 5px;
    align-items: center;
}

.select_address_delete_icon {
    width: 30px;
    height: 30px;
    width: 10%;
    &:hover {
        color: red;
    }
}

.select_address_item_text {
    width: 90%;
}

.saved_address_text_wrap {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    p {
        font-size: 16px;
    }
}

.eyelets_wrap{
    margin-bottom: 5px;
}

.saved_address_text {

}
.display_order_story {
    margin: 50px 0px;
    text-align: start;
    padding-left: 10px;
    font-weight: 600;
}

// modal dell //
.modal_dell_order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    max-width: 500px;
    margin-top: 10px;
    input{
        width: 11px;
        height: 11px;

    }
    p{
        text-align: left;
        width: 100%;
    }
}
.item_textarea{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    height: 70px;
    .check{
        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        gap: 20px;
    }
    textarea{
        height: 100%;
        width: 80%;
    }

}

.furniture_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_wraper_dell{
    display: flex;
    margin-top: 50px;
}

.send_button_and_validation_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.validation_wrap {
    p {
        font-weight: 600;
        margin: 5px 0px;
        color: red;
    }
}


@media (max-width: 780px){

    .wrap_row{
        flex-direction: column;
    }
    .calc-item{
        width: 100%;
    }
    .colum {
        width: 100%;
        min-height: 100px;
    }
    .upload{
        min-height: 100px;
        margin: 0;
        padding: 0 10px;
    }
    .footer_calc{
        button{
            width: 80%;
            margin: 10px 0;
        }
    }

}