.download_program_wrap {
    margin-top: 20px;
}

.download_program_text_wrap {
    text-align: start;
}

.download_program_text {
    font-size: 16px;
    line-height: 20px;
}

.download_program_button_wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download_program_button {

}