@import "./globalTamplate.scss";

.edit_user_wrap{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    min-height: 500px;
    width: 100%;
    border: 1px solid #ccc;
}

.user_wrap{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 20px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    &:last-child{
        border-bottom: 0px;
        margin: 10px 0 0 0;
    }
}

.user_wrap_item_name{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    p{
        min-width: 200px;
        text-align: left;
    }
}

.edit_user_item_wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 1000;
}
.button_open_history{
    width: 80%;
}

.edit_user_data{
    display: flex;
    flex-direction: row;
    // height: 200px;
    width: 100%;
    padding: 20px;
}

.data_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 50%;
    width: 50%;
    height: 80%;
    &:first-child{
        border-right: 1px solid #ccc;
    }
}

.details_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    svg{
        width: 20px;
        height: 20px;
    }
}

.details_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

}

.details_input{
    position: absolute;
    display: flex;
    width: 90%;
    align-items: center;
    button{
        height: 34px;
    }
}

.details_input_balance{
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    background: #fff;
    z-index: 1000;
    
    input{
        width: 80%;
        margin-bottom: 5px;
    }
}

.balance_button{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 30px;
        height: 30px;
        margin-top: 1px;
        background: red;
        &:first-child{
            margin-right: 10px;
            background: green;
        }
    }
}

.input_checkbox{
    width: 20px;
    height: 20px;
}

.close_user{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    right: 1%;
    top: 1%;
}

.history_wrap{
    display: flex;
    width: 100%;
    height: 310px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    p{
        width: 30%;
        font-size: 16px;
    }
}

.history_wrap_header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;

}

.history_wrap_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.history_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    p{
        width: 30%;
        font-size: 16px;
        height: 20px;
    }
}

.deposit{
    color: green;
    font-weight: 600;
}
.withdrawal{
    color: red;
    font-weight: 600;
}



@media (max-width: 620px){
    .user_wrap{
        width: 100%;
    }

    .user_wrap_item_name{
        p{
            min-width: 100px;
        }
    }
    .user_wrap_item_name{
        flex-direction: column;
        p{
            width: 100%;
            text-align: center;
            padding: 0 0 5px 0;
        }

    }

    .edit_user_data{
        flex-direction: column;
    }

    .data_item{
        width: 100%;
    }
}