@import "./globalTamplate.scss";

.pricing_calc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.pricing_calc__categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    p{  

    }
}

.categories_item{
    min-width: 10%;
    width: 15%;
    min-height: 50px;
    margin: 0 3px;
    // max-width: 14%;
    font-size: 12px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    text-align: left;
    padding: 0 5px;
    cursor: pointer;
}

.active_item{
    border: 1px solid $color_prime;
    font-weight: 600;
    color: $color_prime;
    position: relative;
}

.pricing_calc__edit_block{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10px;

}

.aside_list_left{
    width: 100%;
}

.aside_list_right{
    width: 80%;
}

.pricing_calc__edit_item{
    display: flex;
    flex-direction: row;
    min-height: 50px;
    min-width: 200px;
    width: 100%;
    height: 100%;
    margin: 10px 0;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     height: 100%;
        //     min-height: 50px;
        //     left: 211px;
        //     border-right: 1px solid #ccc;
        // }

    
}

.pricing_calc__edit_item_title{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    min-width: 205px;
    max-width: 211px;
    height: 100%;
    min-height: 50px;
    width: 30%;
    border-right: 1px solid #ccc;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     right: 0;
    //     border-right: 1px solid #ccc;
    // }
    p{
        text-align: left;
        width: 90%;
    }
    svg{
        margin: 0 5px;
        rotate: -90deg;
        transition: all 0.3s ease-in-out;
    }
}

.pricing_calc__edit_item_title__active{
    // background: #fbfbfb;
    color: $color_prime;
    border-right: 1px solid $color_prime;
    // padding: 10% 0;
    // padding-left: 10px;
    svg{
        rotate: 90deg;
        
    }
}

.pricing_calc_open_goods{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    padding: 0 5px;
    top: 30px;
    left: 20%;
    width: 80%;
}

.goods_wrap{
    width: 100%;

}

.goods_title{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 20px;
    p{
        font-size: 14px;
    }
    svg{
        margin-left: 5px;
        transition: all 0.3s ease-in-out;
    }
}
.goods_title_active{
    background: #e5eefd;
    p{
        font-weight: 600;
    }
    svg{
        rotate: 180deg;
    }
}

.goods_edit_wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    position: absolute;
    padding-top: 20px;
    margin: 0 5px;
    background: #e5eefd;
    width: 95%;
    left: 0;  
    z-index: 1000;
    max-height: 450px;
    overflow-y: auto;
}

.goods_edit_wrap_header{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 60%;
    justify-content: space-between;
    p{
        font-size: 16px;
        font-weight: 600;
    }
}

.goods_edit_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.goods_edit_item_title{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 5%;
    height: 50px;
    width: 90%;
    padding-right: 30%;
    justify-content: space-between;
    p{
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    svg{
       
    }
}

.goods_edit_icon{
    width: 20px;
    height: 20px;
    fill: $color_second;
    cursor: pointer;
}

.goods_edit_icon_active{
    fill: $color_prime;
}

.goods_edit_item_input{
    display: flex;
    flex-direction: row;
    // width: 100px;
    right: 10%;
    top: 14%;
    position: absolute;
    input{
        width: 50%;
    }
}

.padding_none{
    padding: 0;
    align-items: center;
}

.margin_none{
    margin: 0;
}

.flex-column{
    flex-direction: column;
}



@media (max-width: 1000px){


    .pricing_calc__categories{
        flex-wrap: wrap;
        // margin-bottom: 35px;
        // min-height: 50px;
        justify-content: space-around;
    }

    .categories_item {
        flex: 30% 1;
        min-width: 150px;
        min-height: 40px;
        margin-bottom: 7px;
    }

    .pricing_calc{
        height: 100%;
    }
}
@media (max-width: 780px){

    .pricing_calc__edit_item{
        flex-direction: column;
        
    }
    .pricing_calc__edit_item_title{
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 600px){

    .pricing_calc_open_goods{
        flex-direction: column;
    }
}