@import "./globalTamplate.scss";

.header_wraper{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 150px;
    width: 100%;
    align-items: center;
    padding: 0 20%;
    margin: 10px 0 0px 0;
    &::before{
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        width: 100%;
        height: 10px;
        background: $color_second;

    }
    &::after{
        content: '';
        position: absolute;
        top: 19px;
        left: 0;
        width: 100%;
        height: 3px;
        background: $color_text_white;

    }
}

.icon_social{
    width: 25px;
}

.contact_login_block{
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    align-items: center;
    flex-direction: row;

        // .element_decor{
        //     position: absolute;
        //     height: 30px;
        //     width: 100%;
        //     &::before{
        //         content: '';
        //         position: absolute;
        //         clip-path: polygon(100% 100%, 82% 94%, 71% 86%, 65% 75%, 61% 65%, 57% 55%, 53% 43%, 47% 33%, 42% 26%, 34% 20%, 27% 15%, 19% 11%, 11% 9%, 3% 6%, 1% 0%, 100% 0%);

        //     }
        // }
}

.wraper{
    display: flex;
    position: relative;
    height: 100%;
    // width: ;
    color: $color_text_white;
    background: $color_second;
    // border-radius: 0 0 10px 10px;
    .wrap_item{
        margin: 0 10px;
        display: flex;
        align-items: center;
        z-index: 100;
    }
    button{
        height: 20px;
        border-bottom: 1px;
    }
    &::before{
        content: "";
        top: 0.28px;
        position: absolute;
        clip-path: polygon(100% 100%, 82% 94%, 71% 86%, 65% 75%, 61% 65%, 57% 55%, 53% 43%, 47% 33%, 42% 26%, 34% 20%, 27% 15%, 19% 11%, 11% 9%, 3% 6%, 1% 0%, 100% 0%);
        z-index: -99;
        height: 30px;
        width: 34px;
        left: -30px;
        background: #222935;
    }
    &::after{
        content: "";
        top: 0.28px;
        position: absolute;
        clip-path: polygon(100% 100%, 82% 94%, 71% 86%, 65% 75%, 61% 65%, 57% 55%, 53% 43%, 47% 33%, 42% 26%, 34% 20%, 27% 15%, 19% 11%, 11% 9%, 3% 6%, 1% 0%, 100% 0%);
        z-index: -99;
        height: 30px;
        width: 30px;
        // left: 0;
        right: -30px;
        background: $color_second;
        transform: scaleX(-1);
    }
    // &::before{
    //     content: '';
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     left: 0;
    //     top: 0;
    //     border-radius: 50%;
    //     background: $color_second;
    //     z-index: 1;
    // }
}

.lang_change{
    display: flex;
    justify-content: space-around;
    width: 110px;
}

.nav_logo_wraper{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;

}

.navbar{
 display: flex;
}
.link_route{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    margin: 0 10px;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
    color: $color_text_black;
    &:hover{
        background: $color_second;
        color: $color_text_white;
    }
}

